@media (max-width: 573px) {
	.twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 574px) {
	.twitter-tweet {
		margin-left: 12px;
		margin-right: 12px;
	}
}

.twitter-tweet:not(.twitter-tweet-rendered) {
	box-sizing: border-box;
	width: 100%;
	min-width: 250px;
	max-width: 550px;
	border: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px 16px;
}

.twitter-tweet:not(.twitter-tweet-rendered) p {
	margin: 0 0 12px;
}

.meal-powers {
	display: flex;
	flex-wrap: wrap;
	width: 260px;
}

.meal-powers > dt,
.meal-powers > dd {
	margin: 0;
	box-sizing: border-box;
	padding: 0 12px;
}

.meal-powers > dt {
	width: 40%;
	background-color: #eee;
}

.meal-powers > dd {
	width: 60%;
}

table th {
	background-color: #eee;
}

.types-levels-table {
	width: 420px;
}

.types-levels-table .types {
	width: 22%;
}

.types-levels-table td {
	text-align: center;
}

.stats-table {
	width: 640px;
}

.stats-table .names {
	width: 18%;
}

.stats-table .values {
	width: 12%;
}

.stats-table td {
	text-align: right;
	padding: 0 6px;
}

.stats-table .flavor-bonus {
	text-align: center;
}

.stats-table .effect {
	text-align: left;
}

.stats-table td:not(:first-of-type) {
	border-left: 1px solid #ccc;
}
